
// Couleurs
$primary-bg-color: #000e38;
$particle-color: #F5F5F5;
$accentue-color :#D4AF37;


//font
$fontR_B:"Roboto-Bold";
$fontR_R:"Roboto-Regular";
$fontM_R:"Montserrat-Regular";
$fontM_EB:"ExtraBold";
