
@font-face {
    font-family:"Roboto-Bold";
    src:
      url("/assets/font/Roboto-Bold.ttf") ,
    
  }
  
@font-face {
    font-family:"Roboto-Regular";
    src:
      url("/assets/font/Roboto-Regular.ttf") ,
    
  }

  @font-face {
    font-family:"ExtraBold";
    src:
      url("/assets/font/Montserrat-ExtraBold.ttf") ,
    
  }
  
@font-face {
    font-family:"Montserrat-Regular";
    src:
      url("/assets/font/Montserrat-Regular.ttf.ttf") ,
    
  }